@media screen and (max-width: 992px) {
    header{
        padding:0 5%!important;
    }
    nav{
        height:auto!important;
        align-items: center;
    }
    nav ul{
        grid-template-columns: auto !important;
    }
    main{
        padding:0 5%!important;
    }
    .three-col-container{
        grid-template-columns: auto!important;
        height:auto!important;
    }
    .three-col{
        height: 300px;
    }

    footer{
        padding:0 5%!important;
    }
}

*{
    padding:0;
    margin:0;
}
html{
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
h1{
    font-size:1.4em;
}
h2{
    font-size:1.2em;
    line-height:1;
    text-align: left;
}
p{
    font-size:.9em;
    font-weight:400;
    text-align: left;
}

/* Mac Scrollbar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

/* FORSIDE */
header{
    padding:0 10%;
}
#top-logo{
    overflow: visible;
}
#top-logo img{
    width:200px;
    height:auto;
    padding:20px 0;
}
nav{
    display: grid;
    grid-template-columns: auto auto auto;
    height:100px;
    width:100%;
    overflow:auto;
    font-size:.95em;
}
nav ul{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0px;
}
nav ul#login-menu {
    grid-template-columns: auto auto;
    overflow:auto;
    justify-content: end;
}
nav ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:58px;
    text-align: center;
    color:#333;
    text-decoration: none;
    overflow: auto;
    padding:0 0px;
}

nav a#bliv-medlem {
    background-color: darkorange;
    color:#FFF;
}
nav #login-knap {

}

nav ul{
    background-color:none;
}

nav ul a li{
    padding:0 15px;
}
nav ul a:hover {
    transition: background-color .25s, color .25s;
    background-color: #00A572;
    color:#FFF;
}

main{
padding:0  10%;
}
/* ------------imageslider--------- */
.slider{
    width:100%;
    background: #efefef;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-banner {
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
		height: 400px;
		background-color: #fff;
		overflow: hidden;
		position: relative;
	}

.main-banner .imgban {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}
.main-banner .imgban-box h2 {
	font-family: arial;
	font-size: 60px;
	color: #fff;
}
.main-banner .imgban-box p {
	padding-top: 6px;
	font-family: arial;
	font-size: 16px;
	color: #fff;
}

.main-banner #imgban3 {
	background-image: url("img/3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban1 img,
.main-banner #imgban2 img,
.main-banner #imgban3 img {
	max-width: 100%;
	height: auto;
}


.main-banner #imgban3 .imgban-box {
	padding-top: 220px;
	padding-left: 100px;
}

.main-banner #imgban2 {
	background-image: url("img/2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban2 .imgban-box {
	padding-top: 220px;
	padding-right: 100px;
	float: right;
	text-align: right;
}

.main-banner #imgban1 {
	background-image: url("img/1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban1 .imgban-box {
	padding-top: 70px;
	padding-left: 100px;
}

.imgbanbtn {
	width: 40px;
	height: 40px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	top: 180px;
	z-index: 2000;
	opacity: 0.8;
	cursor: pointer;
}
.imgbanbtn:hover {
	opacity: 0.9;
}

.imgbanbtn-prev {
	left: 5px;
	background-image: url("img/imgbanbtn-prev.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.imgbanbtn-next {
	right: 5px;
	background-image: url("img/imgbanbtn-next.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

/* --- Kolonner --- */
.three-col-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-column-gap: 5%;
    margin-top:64px;
}
.three-col{
    overflow: hidden;
}

section.three-col-container{
    height:400px;
}
section.three-col-container div {

}

/* Forside: Events-card */

#fp-col-1 #fp-event-img {
    background-color: coral;
    height:60%;
}
#fp-col-2 #fp-kraemmer-img {
    background-color: coral;
    height:60%;
}
#fp-col-3 #fp-kontakt-img {
    background-color: coral;
    height:60%;
}

.three-col-container .col-title-text{
    padding-top:1em;
    text-align: left;
}
.three-col-container .col-title-text h2{
    font-size:1.4em;
}
.three-col-container .col-title-text p{
}



footer {
    padding:0 10%;
    background: #00A572;  
}

footer div{
    margin-top:32px;
}

footer.three-col-container{
	color: white;
	text-align: left;
	
}

footer.three-col-container h2{
	font-size: 1.5em;
}

footer.three-col-container p{
	font-size: 1.1em;

}

.info{
	line-height: 1.4;
	margin: 0px;
	
}

.SoMe img{
	width: 50px;
}



/*-----styling af kontakt formular-------*/
.contact-form{
	margin-top: 0;
}
.form-control{
	width: 90%;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #000000;
	font-size: 1,2em;
	margin-bottom: 12px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif
}
input {
	height: 30px;
}

form .submit {
	color: #fff;
	background-color: #FD6F26;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 2px;
	height: 2em;
}
form .submit:hover{
	background-color: #D36709;
	cursor: pointer;
}


/* --- EVENTS SIDE --- */
/* Events layout */
.event-wrapper{
    height:100%;
    border:1px solid black;

}

.event-wrapper .event-img{
    width:100%;
    height:50%;
    background: url("img/kvindehjemmet.jpg") no-repeat top center;
    background-size: cover;
}

.event-content{
    padding:10px 20px;
}
.event-content button{
    padding:15px 0;
    width:100%;
    font-size:1em;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height:calc(100% - 100px);
}

.modal-content .modal-left-col{
    float:left;
    height:100%;
    width:70%;
}

.modal-content .modal-right-col{
    float: left;
    height:100%;
    width:30%;
}

.modal-content .event-img{
    width:100%;
    height:50%;
    background: url("img/kvindehjemmet.jpg") no-repeat top center;
    background-size: cover;
    float:left;
}

.modal-content .modal-text{
    width:70%;
    padding:10px 30px;
    margin:-20% calc(15% - 30px) 64px calc(15% - 30px);
    background: #fff;
    height:60%;
    overflow-y: scroll;
    float:left;
}

.modal-content .modal-info{
    width:calc(100% - 2 * 30px);
    padding:40px 30px;
    overflow: auto;
    height:calc(50% - 2 * 40px);
    background-color:#4267b2;
    color:#fff;
}

.modal-content .modal-antal {
    width:calc(100% - 2 * 30px);
    padding:40px 30px;
    overflow: auto;
    height:calc(50% - 2 * 40px);

}

.modal-content h2{
    font-size:1.6em;
    line-height: 1.1;
}

.modal-content h3{
    text-transform: uppercase;
}

.modal-content h4{
    margin:30px 0 -2px 0;
    line-height: 0;
    text-decoration: underline;
}

.modal-content .modal-info p {
    font-size:1em;
}

/* Luk-knappen */
.close {
    color: #aaaaaa;
    position: absolute;
    top:-3px;
    right:calc(10% - 10px);
    font-size: 28px;
    font-weight: bold;
    margin-right:10px;
    padding:10px 18px;
    background: #fff;
    margin-top:54px;
    display: inline;
}

.close:hover,
.close:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

#event-input-antal{
    width:60px;
    text-align: center;
    padding:12px 0;
    font-size: 1.4em;
}

#event-input-antal-submit  {

}

/* --- KRÆMMERMARKED SIDE --- */
/* Countdown */
#countdown-timer {
    text-align: center;
    font-size: 80px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;
}

#countdown-title {
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;
}

#year{
	text-align: center;
	font-size: 80px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;


}

#countdown-wrapper{
	background-image: url(img/1.jpg);
	background-size: cover;
	

}

/* -- peekaboo start*/

  input#rotate{
  cursor:pointer;
  border: 1px solid #4080ff;
  border-radius: 8px;
  font-family: "Gill Sans MT",  Helvetica, "sans-serif";
  font-size: 20px;
  color: white;
  outline: 0;
  letter-spacing: 5px;
	/*linear-gradient*/
  background: #3b5998;
  margin-right: -60px;
  position: fixed; 
  vertical-align:top;
  margin-top:50px;
  width:150px;height:45px;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  margin-top: 300px;
  right: 0;
	  z-index: 9999;
}

#sectiontohide {
  background:white;
	width:400px;
	height: 500px;
	overflow: scroll;
  right: 0;
  margin-top: 250px;
  border-radius: 8px;
  margin-right: -50px;
  display: none;
  position: fixed;
z-index: 9999;

	
}

/*---peekaboo slut---*/