@media screen and (max-width: 992px) {
    header{
        padding:0 5%!important;
    }
    nav{
        height:auto!important;
        align-items: center;
    }
    nav ul{
        grid-template-columns: auto !important;
    }
    main{
        padding:0 5%!important;
    }
    .three-col-container{
        grid-template-columns: auto!important;
        height:auto!important;
    }
    .three-col{
        height: 300px;
    }

    footer{
        padding:0 5%!important;
    }
}

*{
    padding:0;
    margin:0;
}
html{
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
h1{
    font-size:1.4em;
}
h2{
    font-size:1.2em;
    line-height:1;
    text-align: left;
}
p{
    font-size:.9em;
    font-weight:400;
    text-align: left;
}

/* Mac Scrollbar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

/* FORSIDE */
header{
    padding:0 2%;
}
#top-logo{
    align-self: center;
    height:58px;
}
#top-logo img{
    width:auto;
    height:100%;
}

#kurv img {
    width: 25px;
    height: 25px;
    float: right;
}
#kurv{
    align-self:auto;
    height:58px;
}

nav{
    display: grid;
    grid-template-columns: auto auto auto;
    height:90px;
    width:100%;
    overflow:hidden;
    font-size:.95em;
    
}
nav ul{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0px;
}
nav ul#login-menu {
    grid-template-columns: auto auto;
    justify-content: end;
}
nav ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:42px;
    text-align: center;
    color:#333;
    text-decoration: none;
    overflow: auto;
    padding:0 0px;
}

nav a#bliv-medlem {
    background-color: darkorange;
    color:#FFF;
    box-shadow: 0px 8px 16px 0px grey;
    border-radius: 8px;
}
a.dropbtn {
    background-color: #4CAF50;
    color: #FFF;
    box-shadow: 0px 6px 12px 0px grey;
    border-radius: 8px;
    cursor: pointer;
  
}

.dropdown {
    position: absolute;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3000;
    
}

<<<<<<< HEAD
/*--------styling af login knap-------*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    transition: background-color .25s, color .25s;
    background-color: #00A572;
    color: #fff;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 8px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding:0;
    text-decoration: none;
    display: block;
    text-align: left;
	margin-top: 1em;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
=======
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #ddd; 
    }

.dropdown:hover .dropdown-content {
    display: block; 
    }

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    }

>>>>>>> cc57f92432279b12ebc774ac7c0b3673996e3d6b
nav ul{
    background-color:none;
}

nav ul a li{
    padding:0 15px;
}
nav ul a:hover {
    transition: background-color .25s, color .25s;
    background-color: #00A572;
    color:#FFF;
    border-radius: 8px;
}

main{
padding:0  10%;
}
/* ------------imageslider--------- */
.slider{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    height:300px;
}

.main-banner {
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		position: relative;
	}

.main-banner .imgban {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}
.main-banner .imgban-box h2 {
	font-family: arial;
	font-size: 60px;
	color: #fff;
    text-shadow: 2px 2px 2px #222;
}
.main-banner .imgban-box p {
	padding-top: 6px;
	font-family: arial;
	font-size: 16px;
	color: #fff;
    text-shadow: 1px 1px #222;
}

.main-banner #imgban3 {
	background-image: url("img/3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban1 img,
.main-banner #imgban2 img,
.main-banner #imgban3 img {
	width: 100%;
	height: auto;
}


.main-banner #imgban3 .imgban-box {
	padding-top: 100px;
	padding-left: 100px;
}

.main-banner #imgban2 {
	background-image: url("img/2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban2 .imgban-box {
	padding-top: 100px;
	padding-right: 100px;
	float: right;
	text-align: right;
}

.main-banner #imgban1 {
	background-image: url("img/1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban1 .imgban-box {
	padding-top: 100px;
	padding-left: 100px;
}

.imgbanbtn {
	width: 40px;
	height: 40px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
    top:calc(50% - 40px/2);
	z-index: 2000;
	opacity: 0.8;
	cursor: pointer;
}
.imgbanbtn:hover {
	opacity: 0.9;
}

.imgbanbtn-prev {
	left: 5px;
	background-image: url("img/imgbanbtn-prev.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.imgbanbtn-next {
	right: 5px;
	background-image: url("img/imgbanbtn-next.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

/* --- Kolonner --- */
.three-col-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-column-gap: 5%;
    margin-top:32px;
}
.three-col{
    overflow: hidden;
}

section.three-col-container{
    height:400px;
}
section.three-col-container div {

}

/* Forside: Events-card */

#fp-col-1 #fp-event-img {
    background-color: coral;
    height:60%;
	background-image: url(images/1.jpg);
	background-size: cover;
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	border-radius: 8px;
	
}
#fp-col-1 {
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	padding: 8px;
	border-radius: 8px;
}
#fp-col-2 #fp-kraemmer-img {
    background-color: coral;
    height:60%;
	background-image: url(images/2.jpg);
	background-size: cover;
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	border-radius: 8px;
}
#fp-col-2 {
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	padding: 8px;
	border-radius: 8px;
}

#fp-col-3 #fp-kontakt-img {
    background-color: coral;
    height:60%;
	background-image: url(images/3.jpg);
	background-size: cover;
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	border-radius: 8px;
}
#fp-col-3 {
	box-shadow: 0 6px 10px 0 grey, 0 8px 22px 0 grey;
	padding: 8px;
	border-radius: 8px;
}

.three-col-container .col-title-text{
    padding-top:1em;
    text-align: left;
}
.three-col-container .col-title-text h2{
    font-size:1.4em;
}
.three-col-container .col-title-text p{
}

/*------sponsorer slideshow--------*/
#sponsorer {
	overflow: hidden;
	height: 410px;
	width: 728px;
	margin: 0 auto;
}
.slide-wrapper {
	width: 8008px;
	-webkit-animation: slide 30s ease infinite;
}
.slide {
	float: left;
	height: 410px;
	width: 728px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.slide:nth-child(1){
	background-image: url("img/sponsorer/bccatering.png")
}
.slide:nth-child(2){
	background-image: url("img/sponsorer/royal-unibrew.jpg")
}
.slide:nth-child(3){
	background-image: url("img/sponsorer/nordisktivoli.jpg")
}
.slide:nth-child(4){
	background-image: url("img/sponsorer/superbrugsen.jpg")
}
.slide:nth-child(5){
	background-image: url("img/sponsorer/sponsorer/xlbyg.jpg")
}
.slide:nth-child(6){
	background-image: url("img/sponsorer/schmidtsradio.png")
}
.slide:nth-child(7){
	background-image: url("img/sponsorer/renofyn.png")
}
.slide:nth-child(8){
	background-image: url("img/sponsorer/kertemindekommune.png")
}
.slide:nth-child(9){
	background-image: url("img/sponsorer/maagaarddata.png")
}
.slide:nth-child(10){
	background-image: url("img/sponsorer/mogensschack.jpg")
}
.slide:nth-child(11){
	background-image: url("img/sponsorer/hejtex.jpg")
}
@-webkit-keyframes slide {
	4% { margin-left: 0px;}
	8% { margin-left: -728px;}
	12% { margin-left: -728px;}
	16% { margin-left: -1456px;}
	20% { margin-left: -1465px;}
	24% { margin-left: -2184px;}
	28% { margin-left: -2184px;}
	32% { margin-left: -2912px;}
	36% { margin-left: -2912px;}
	40% { margin-left: -3640px;}
	44% { margin-left: -3640px;}
	48% { margin-left: -4368px;}
	52% { margin-left: -4368px;}
	56% { margin-left: -5096px;}
	60% { margin-left: -5096px;}
	64% { margin-left: -5824px;}
	68% { margin-left: -5824px;}
	72% { margin-left: -6552px;}
	78% { margin-left: -6552px;}
	84% { margin-left: -7280px;}
	88% { margin-left: -7280px;}
}

/*footer*/

footer {
    padding:0 10%;
    background: #00A572;  
}

footer div{
	margin-top: 32px;
	margin-bottom: 10px;
}

footer.three-col-container{
	color: white;
	text-align: left;
	
}

footer.three-col-container h2{
	font-size: 1.5em;
}

footer.three-col-container p{
	font-size: 1.1em;

}

.info{
	line-height: 1.4;
	margin: 0px;
	
}

.SoMe img{
	width: 50px;
	margin-top: -2px;
}

.facebooktext{
	margin-top: 20px;
	
}

.kontaktnavn{
	margin-top: 0px;
	margin-bottom: 15px
}

/*-----styling af kontakt formular-------*/
.contact-form{
	margin-top: 0;
}
.form-control{
	width: 90%;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #000000;
	font-size: 1,2em;
	margin-bottom: 12px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
	border-radius: 8px;
	padding: 5px 7px;
}
input {
	height: 30px;
	padding: 5px 7px;
}

form .submit {
	color: #fff;
	background-color: darkorange;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	height: 2em;
	border-radius: 8px;
	width: 4em;
	

	 
}
form .submit:hover{
	background-color: #FD6F26;
	cursor: pointer;
	transition: background-color .25s, color .25s;
}


/* --- EVENTS SIDE --- */
/* Events layout */
.event-wrapper{
    height:100%;
    max-height:400px;
    border:1px solid black;

}

.event-wrapper .event-img{
    width:100%;
    height:50%;
    background-size:cover;
}

#event1 .event-img {
	background: url("img/kvindehjemmet.jpg") no-repeat top center;
	background-size: cover;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
		
}

#event2 .event-img{
	background: url("img/juleshopping-i-vestergade-i-aarhus.jpg") no-repeat top center;
	background-size: cover;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

#event3 .event-img{
	background: url("img/kærlighed-ved-første-hik.jpg") no-repeat top center;
	background-size: cover;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.event-content{
    padding:10px 20px;
}
.event-content button{
    padding:15px 0;
    width:100%;
    font-size:1em;
}

.kommendeevents{
	width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100px;
	font-size: 3em;
	font-family: "Montserrat", "Helvetica Neue", sans-serif; 
	
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height:calc(100% - 100px);
}

.modal-content .modal-left-col{
    float:left;
    height:100%;
    width:50%;
}

.modal-content .modal-right-col{
    float: left;
    height:100%;
    width:50%;
}

.modal-content .event-img{
    width:100%;
    height:100%;
    background: url("img/kvindehjemmet.jpg") no-repeat top center;
    background-size: cover;
    float:left;
}

.modal-content .modal-text{
    width:100%;
    background: #fff;
    height:45%;
    overflow:hidden;
    float:left;
}

.modal-content .modal-text div{
    padding:2em;
}

.modal-content .modal-info{
    width:100%;
    overflow: auto;
    height:35%;
    background-color:#4267b2;
    color:#fff;
}

.modal-content .modal-info div {
    padding:2em;
}

.modal-content .modal-antal {
    width:100%;
    overflow: hidden;
    height:20%;
}

.modal-content .modal-antal div{
    padding:2em;
}

.modal-content h2, h3, h4{
    text-align:left;
}

.modal-content h2{
    font-size:1.6em;
    line-height: 1.1;
}

.modal-content h3{
    text-transform: uppercase;
}

.modal-content h4{
    margin:12px 0 2px 0;
    line-height: 1;
    text-decoration: underline;
}

.modal-content .modal-info p {
    font-size:1em;
}

/* Luk-knappen */
.close {
    color: #aaaaaa;
    position: absolute;
    top:-3px;
    right:calc(10% - 10px);
    font-size: 28px;
    font-weight: bold;
    margin-right:10px;
    padding:10px 18px;
    background: #fff;
    margin-top:54px;
    display: inline;
}

.close:hover,
.close:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

#event-input-antal{
    width:60px;
    text-align: center;
    padding:12px 0;
    font-size: 1.4em;
}

#event-input-antal-submit  {

}

/* --- KRÆMMERMARKED SIDE --- */
/* Countdown */
#countdown-timer {
    text-align: center;
    font-size: 80px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;
}

#countdown-title {
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;
}

#year{
	text-align: center;
	font-size: 80px;
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
	color: white;
	text-shadow: 4px 4px black;


}

#countdown-wrapper{
	background-image: url("img/kraemmermarked1.png");
	background-size: cover;
	

}

/* -- peekaboo start*/

  input#rotate{
  cursor:pointer;
  border: 1px solid #4080ff;
  border-radius: 8px;
  font-family: "Gill Sans MT",  Helvetica, "sans-serif";
  font-size: 20px;
  color: white;
  outline: 0;
  letter-spacing: 5px;
	/*linear-gradient*/
  background: #3b5998;
  margin-right: -60px;
  position: fixed; 
  vertical-align:top;
  margin-top:50px;
  width:150px;height:45px;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  margin-top: 300px;
  right: 0;
	  z-index: 9999;
}

#sectiontohide {
  background:white;
	width:400px;
	height: 500px;
	overflow: scroll;
  right: 0;
  margin-top: 250px;
  border-radius: 8px;
  margin-right: -50px;
  display: none;
  position: fixed;
z-index: 9999;
}

/*---peekaboo slut---*/

/*--nav dropdown start---*/


/*--nav dropdown slut---*/