@charset "utf-8";
/* CSS Document */
p {
	text-align: center;
	font-size: 60px;
	margin: 0px;
	padding: 0px;
	background-color: aqua;
	
	
}

h1 {
	text-align: center;
	font-size: 60px;
	background-color: aqua;
	margin: 0px;
	padding: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
	
	
}
